.welcome-root {
    -fx-alignment: center;
    -fx-padding: 10;
}

.label {
    -fx-font-size: 50px;
    -fx-font-family: "Microsoft YaHei";
    -fx-text-fill: #333333;
}

.author-text {
    -fx-font-size: 20px;
    -fx-text-alignment: center;
}

.search-title {
    -fx-font-size: 20px;
}

.searchVBox {
    -fx-alignment: top-center;
    -fx-padding: 20;
}

.text-field {
    -fx-alignment: top-left;
    -fx-max-width: 200px;

}

.text-area {
    -fx-max-width: 800px;
    -fx-min-width: 600px;
    -fx-max-height: 600px;
    -fx-min-height: 400px;
}

.button {
    -fx-background-color: #ce1230;
    -fx-max-width: 200px;
    -fx-max-height: 50px;
    -fx-font-size: 40px;
    -fx-background-radius: 15;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-alignment: center;
}

.button:hover {
    -fx-background-color: #9a0d24;
}